<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mesh.backend.mapper.AdminsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mesh.backend.entity.Admins">
        <id column="Id" property="Id" />
        <result column="Nickname" property="Nickname" />
        <result column="Email" property="Email" />
        <result column="PasswordDigest" property="PasswordDigest" />
        <result column="PasswordSalt" property="PasswordSalt" />
        <result column="RememberDigest" property="RememberDigest" />
        <result column="CreatedTime" property="CreatedTime" />
        <result column="UpdatedTime" property="UpdatedTime" />
        <result column="Description" property="Description" />
        <result column="Status" property="Status" />
        <result column="Address" property="Address" />
        <result column="Birthday" property="Birthday" />
        <result column="Gender" property="Gender" />
    </resultMap>

</mapper>
