<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mesh.backend.mapper.CooperationsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mesh.backend.entity.Cooperations">
        <id column="UserId" property="UserId" />
        <result column="TeamId" property="TeamId" />
        <result column="AccessCount" property="AccessCount" />
        <result column="CreatedTime" property="CreatedTime" />
        <result column="UpdatedTime" property="UpdatedTime" />
    </resultMap>

</mapper>
