<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mesh.backend.mapper.TaskboardsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mesh.backend.entity.Taskboards">
        <id column="Id" property="Id" />
        <result column="Description" property="Description" />
        <result column="ProjectId" property="ProjectId" />
        <result column="CreatedTime" property="CreatedTime" />
        <result column="UpdatedTime" property="UpdatedTime" />
    </resultMap>

</mapper>
