<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mesh.backend.mapper.TeammemosMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mesh.backend.entity.Teammemos">
        <id column="Id" property="Id" />
        <result column="Title" property="Title" />
        <result column="Text" property="Text" />
        <result column="CreatedTime" property="CreatedTime" />
        <result column="UserId" property="UserId" />
        <result column="UpdatedTime" property="UpdatedTime" />
        <result column="CollectionId" property="CollectionId" />
    </resultMap>

</mapper>
